altair
argon2-cffi
astor
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cycler
debugpy
decorator
defusedxml
dnspython
entrypoints
gitdb
GitPython
greenlet
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
msgpack
nbclient
nbconvert
nbformat
neovim
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycparser
pydantic
pydeck
Pygments
pymongo
pynvim
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
Send2Trash
six
smmap
streamlit==1.9.1
terminado
testpath
toml
toolz
tornado
traitlets
typing-extensions
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
